node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env

.vercel
.output
.wrangler
.netlify
dist
/build/
/api/
/server/build
/public/build

app.config.timestamp*
count.txt
dev-dist

apps/web/tests/playwright/results/
test-results/

coverage

.claude